<h1><%= _('Vote settings')%></h1>

<%= form_for(:settings) do |f| %>

  <% ['article', 'comment'].each do |model| %>
    <h5><%= _('Enable on %s:' % model) %></h5>
    <%= f.check_box("enable_vote_#{model}", {:multiple => true}, 1) + _('Like') %>
    <%= f.check_box("enable_vote_#{model}", {:multiple => true}, -1) + _('Dislike') %>
  <% end %>
  <br/><br/>

  <strong>
    <%= labelled_form_field _('Limit of voters to display:'), f.text_field(:voters_limit, :size => 3) %>
  </strong>

  <% button_bar do %>
    <%= submit_button(:save, _('Save'), :cancel => {:controller => 'plugins', :action => 'index'}) %>
  <% end %>

<% end %>

