<table>
  <tr>
    <th colspan='2'><%= _('Basic information')%></th>
  </tr>
  <%= display_field(_('Sex:'), profile, :sex) { |gender| { 'male' => _('Male'), 'female' => _('Female') }[gender] } %>
  <%= display_field(_('Date of birth:'), profile, :birth_date) { |date| show_date(date)  }%>
  <%= display_field _('Location:'), profile, :location %>

  <%= display_field(_('Type:'), profile, :privacy_setting, true) %>

  <tr>
    <td class='field-name'><%= _('Profile created at:')  %></td>
    <td><%= show_date(profile.created_at) %></td>
  </tr>

  <%= display_contact profile %>

  <% cache_timeout(profile.relationships_cache_key, 4.hours) do %>
    <%= display_work_info profile %>

    <tr>
      <th colspan='2'><%= _('Network')%></th>
    </tr>
    <tr>
      <td><%= _('Friends') + ':' %></td>
      <td><%= link_to  profile.friends.count, { :controller => 'profile', :action => 'friends' } %></td>
    </tr>
    <tr>
      <td><%= _('Communities') + ':' %></td>
      <td><%= link_to profile.communities.count, :controller => "profile", :action => 'communities' %></td>
    </tr>
    <% if environment.disabled?('disable_asset_enterprises') %>
      <tr id="person-profile-network-enterprises">
        <td><%= _('Enterprises') + ':' %></td>
        <td><%= link_to profile.enterprises.count, :controller => "profile", :action => 'enterprises' %></td>
      </tr>
    <% end %>

    <%= render :partial => 'common' %>

  <% end %>
</table>

